 body{
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}
input,
select{
    width: 250px;
    height: 30px;
    border: 1px solid lightblue;
    outline: none;
}
select{
    width: 100px;   
    margin-left: 10px;
    letter-spacing: 2px;
}
span{
    color: crimson;
    font-size: 2em;
    font-weight: 900;
}